.DescriptionContainer {


    position: relative;
    height: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;


}

.back {
    background-color: #9a6969;
    height: 280px;
    width: 950px;
    border-radius: 10px;
}

.progress {

    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer {

    display: flex;
    justify-content: center;
    min-height: 100vh;


}

.img {
    width: 120px;
    border-radius: 50%;
    position: absolute;
    top: 56%;
    left: 4%;
    border: 7px solid white;
}


.name {
    font-family: var(--font);
    font-weight: bold;
    margin: 0;


}

.description {

    position: absolute;
    top: 70%;
    left: 20%;
    right: 2%;


}


.status {
    font-family: var(--font);
    margin-top: 10px;


}

.textDes {
    font-family: var(--font);
    margin-top: 10px;
    cursor: pointer;

}

.input {
    margin-top: 10px;
    outline: none;
    font-family: var(--font);

}

.container {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    gap: 20px;



}

.postContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loading{
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 56%;
    left: 4%;
    border: 7px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}